
<div id="date-picker">

    <div class="selector-container">

        <table class="selector">
            <tr>
                <td class="icon-container">
                    <img class="icon" src="images/calendar.png" />
                </td>
                <td class="selected-container">
                    <h3 class="selected-date unselected">Select date</h3>
                </td>
            </tr>
        </table>

        <table class="dialog hidden">

            <tr>
                <td class="month-nav-container" ng-click="prevMonth()">
                    <img src="images/left_arrow.png" />
                </td>
                <td>
                    <h2>
                        {{month}}, {{year}}
                    </h2>
                    <table class="weeks">
                        <tr class="subheader">
                            <td><h4>SU</h4></td>
                            <td><h4>MO</h4></td>
                            <td><h4>TU</h4></td>
                            <td><h4>WE</h4></td>
                            <td><h4>TH</h4></td>
                            <td><h4>FR</h4></td>
                            <td><h4>SA</h4></td>
                        </tr>
                        <tr class="week" ng-repeat="week in weeks">
                            <td ng-repeat="day in week"
                                ng-click="selectDate(day.date)"
                                ng-class="{ 'selectable': day.selectable,
                                            'disabled': day.disabled,
                                            'not-this-month': day.notThisMonth,
                                            'active': day.active }">
                                <p>{{day.dayOfMonth}}<p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="month-nav-container" ng-click="nextMonth()">
                    <img src="images/right_arrow.png" />
                </td>
            </tr>
        </table>

    </div>

    <!-- <button ng-click="check()">
        Check Requested Date
    </button> -->

    <div class="fullscreen hidden">
    </div>

</div>
