
<div>

    <div>
        <button ng-click="prevMonth()">
            <
        </button>
        <h2 style="display: inline;">
            {{month}} {{year}}
        </h2>
        <button ng-click="nextMonth()">
            >
        </button>
    </div>

    <table>
        <tr ng-repeat="week in weeks">
            <td ng-repeat="day in week">
                <p ng-click="selectDate(day.date)"
                   ng-class="{ 'selectable': day.selectable,
                               'in-past': day.inPast,
                               'not-this-month': day.notThisMonth,
                               'active': day.active }">{{day.dayOfMonth}}<p>
            </td>
        </tr>

</div>
