
body {
    background-color: #f6f6f6;
    font-family: 'Rockwell', sans-serif;
    padding: 10px;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

table {
    table-layout: fixed;
    border-collapse:collapse;
}

td {
    border:none !important;
}

h2 {
    font-size: 31px;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 10px 0 18px;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
}

h3.unselected {
    color: #868686;
}

h4 {
    font-size: 23px;
    font-weight: normal;
    margin: 0;
    padding: 8px 0 16px;
    text-align: center;
}

p {
    font-size: 21px;
}

#date-picker, #time-picker {
    float: left;
    margin-right: 40px;
}

.selector-container {
  position: relative;
  cursor: pointer;
  z-index: 3;
}

.selector {
    width: 470px;
    height: 70px;
    background-color: #fff;
    border: 4px solid #e0e0e0;
    position: relative;
    padding: 10px;
}

img.icon {
    width: 30px;
    height 18px;
}

.selector td.icon-container {
    width: 40px;
    text-align: right;
}

.selector td.selected-container {
    text-align: left;
}

.selector td.selected-container h3 {
    padding-left: 5px;
}

.selector.active {
    border-color: #ee780c;
}

.dialog {
    position: absolute;
    top: 70px;
    border: 2px solid #acacac;
    background-color: #fff;
    width: 525px;
}

.dialog h2,
.dialog tr.subheader {
    background: url('images/grey_divider.png') bottom repeat-x;
}

.fullscreen {
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 overflow: auto;
 z-index: 2;
}

#date-picker td.month-nav-container {
    text-align: center;
    vertical-align: top;
    width: 10%;
}

#date-picker td.month-nav-container img {
    padding-top: 175px;
}

#date-picker tr.week td {
    vertical-align: middle;
    width: 60px;
    height: 50px;
}

#date-picker tr.week p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#date-picker tr.week td.disabled,
#date-picker tr.week td.disabled.not-this-month,
#time-picker tr.hour td {
    color: #e0e0e0;
}

#time-picker tr.hour td.selectable {
    color: #000;
}

#date-picker tr.week td.selectable:hover,
#time-picker tr.hour td.selectable:hover {
    background-color: #eeba97;
}

#date-picker tr.week td.selectable.not-this-month:hover {
    background: none;
}

#date-picker tr.week td.not-this-month {
    color: #868686;
}

#date-picker tr.week td.active,
#date-picker tr.week td.selectable.active:hover,
#time-picker tr.hour td.active,
#time-picker tr.hour td.selectable.active:hover {
    color: #fff;
    background-color: #ee780c;
}

#time-picker .selector {
    width: 200px;
}

#time-picker .subheader .active {
    color: orange;
}

#time-picker p {
    margin: 0;
    padding: 10px 20px;
    width: 100px;
    text-align-left;
}

.check-btns-container {
    position: fixed;
    bottom: 0;
}
